# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BrackeysGameJam2021.2.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\GitRepos\GameJam2\BrackeysGameJam2021.2\.idea\.idea.BrackeysGameJam2021.2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
